<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Office" version="3.0" targetFramework="net46" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.1.7" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net46" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net46" />
</packages>